:root {
  --light-bg: #F2F9FB;
  --light-color: #151B28; 
  --primary-color: #3E4D6B;
  --neutral-color: #619492;
  --dark-bg: #151B28;
  --dark-color: #F2F9FB;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Ubuntu-Regular.ttf");
  letter-spacing: 0.2px;
}

@font-face {
  font-family: 'Ubuntu Medium';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Ubuntu-Medium.ttf");
  letter-spacing: 0.2px;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 430px;
  max-height: 944px;
}

html {
  color-scheme: light;
}

body {
  overflow-x: hidden;
  color: var(--light-color);
  background: var(--light-bg);
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu Medium';
}

h2 {
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
  margin-block: 0;
}

p, button, label {
  font-family: 'Ubuntu';
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  margin-block: 0;
}

p {
  font-size: 14px;
  line-height: 125%;
  margin-block: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--light-bg);
    background: var(--dark-bg);
  }
}
