:root {
  --light-bg: #F2F9FB;
  --light-color: #151B28; 

  --primary-color: #3E4D6B;
  --neutral-color: #619492;

  --dark-bg: #000009;
  --dark-color: #FFEEE9;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Ubuntu-Regular.ttf"), format('truetype-variations');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  max-width: 430px;
  max-height: 944px;
}

html {
  color-scheme: light;
}

body {
  overflow-x: hidden;
  color: var(--light-color);
  background: var(--light-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--light-bg);
    background: var(--dark-bg);
  }
}
